<div style="text-align: center;"><small><span
 style="color: rgb(51, 51, 51); font-family: courier new,courier,monospace;">#info_text#<br>
<br>
</span></small>
<form action="?module=admin&amp;a_module=start_page&amp;action=update"
 method="post">
  <table class="tablestyle_dotted" width="90%">
    <tbody>
      <tr>
        <td style="width: 65%; text-align: right; vertical-align: top;">#module_on_page#<br>
#which_module#<br>
        </td>
        <td style="vertical-align: top;"> #mod_on_page_yes_no#<br>
#list_active_modules#<br>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <hr class="hrstyle"></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center; vertical-align: top;">#msg_on_page#
#get_msg_on_page_val# <br>
#header#<br>
        <input name="startheader" value="#header_val#" type="text"><br>
#msg_text#<br>
<span style="color:#800000">*#html_allowed#</span><br>
        <textarea rows="15" cols="60" name="starttext">#textarea_val#</textarea><br>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;"><input class="submit_button" 
 value="#submit_text#" type="submit"></td>
      </tr>
    </tbody>
  </table>
</form>
<br>
</div>