
<form action="?module=admin&amp;a_module=search&amp;action=add&amp;effect=add_module&amp;do=add_it"
 method="post">
  <table style="width: 100%; text-align: left;" border="0"
 cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td colspan="5" rowspan="1" style="vertical-align: top;">#info_text#<br>
          <input type="hidden" name="table" value="#table_name#">
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <table class="tablestyle" style="width: 100%; text-align: center;"
 border="1" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="vertical-align: top;">#identifier#<br>
        </td>
        <td style="vertical-align: top;">#group_header#<br>
        </td>
        <td style="vertical-align: top;">#find_header#<br>
        </td>
        <td style="vertical-align: top;">#fields_to_search#<br>
        </td>
        <td style="vertical-align: top;">#url_to_go#<br>
        </td>
      </tr>
      <tr>
        <td style="text-align: left; vertical-align: middle;">#list_radio#<br>
        </td>
        <td style="vertical-align: middle;"><input name="group_header"
 type="text"><br>
        </td>
        <td style="text-align: left;vertical-align: top;">#list_radio_headers#<br>
        </td>
        <td style="vertical-align: middle;">#list_select#<br>
        </td>
        <td style="vertical-align: middle;"><input name="url_to_go"
 type="text"><br>
        </td>
      </tr>
      <tr>
        <td colspan="5"><input value="#submit_text#" type="submit"></td>
      </tr>
    </tbody>
  </table>
</form>

