<table align="center" cellpadding="0" cellspacing="0" width="95%">
  <tbody>
    <tr>
      <td style="vertical-align: bottom; width: 1%; text-align: right;"><img
 alt="" src="#image_dir#news/ustsol.gif"
 style="width: 16px; height: 20px;"><br>
      </td>
      <td colspan="2" rowspan="1" style="vertical-align: top;"><img
 alt="" src="#image_dir#news/ust.gif" style="width: 100%; height: 16px;"><br>
      </td>
      <td style="vertical-align: bottom;"><img alt=""
 src="#image_dir#news/ustsag.gif" style="width: 16px; height: 20px;"><br>
      </td>
    </tr>
    <tr>
      <td
 style="vertical-align: top; text-align: right; background-image: url(#image_dir#news/sol.gif);"><br>
      </td>
      <td colspan="1"
 style="font-size: 20px; font-weight: bold; font-family: Georgia,sans-serif; color: rgb(50, 53, 56);">
      <table style="width: 100%; height: 100%; text-align: left;"
 border="0" cellpadding="2" cellspacing="2">
        <tbody>
          <tr>
            <td
 style="vertical-align: top; color: rgb(51, 51, 51); font-style: italic; font-weight: bold;"><big>
            <span style="border-bottom: 1px dotted;">#header#</span> </big></td>
            <td style="vertical-align: top; text-align: right;"><a
 href="#topic_url#"><img alt="" src="#topic_logo#"
 style="border: 0px solid ;"></a></td>
          </tr>
          <tr>
            <td colspan="2" rowspan="1" style="vertical-align: top;">#news#<br>
            <hr style=""> </td>
          </tr>
          <tr>
            <td><small><font color="#333333" size="-1"><small><strong>#day#.#month_name#.#year#
#dayname# :: #hour#</strong></small></font> </small></td>
            <td
 style="vertical-align: top; text-align: right; color: rgb(102, 102, 102);"><small>#user_wrote#
&nbsp; | &nbsp;<a href="#comment_url#">#comments# #num_comments#</a>&nbsp;
#times_read# <a href="?module=news&amp;action=show_id&amp;id=#newsid#"><small>[#]</small></a>
#edit_delete#</small></td>
          </tr>
        </tbody>
      </table>
      </td>
      <td style="text-align: right;"><br>
      </td>
      <td
 style="vertical-align: top; background-image: url(#image_dir#news/sag.gif);">
      <br>
      </td>
    </tr>
    <tr
 style="text-align: center; font-family: Verdana,Helvetica; font-size: 9px;">
      <td style="vertical-align: top; text-align: right; width: 1%;"><img
 alt="" src="#image_dir#news/altsol.gif"
 style="width: 16px; height: 16px;"><br>
      </td>
      <td colspan="2" rowspan="1" style="text-align: left;"><span
 style="color: rgb(102, 102, 102);"></span><img alt=""
 src="#image_dir#news/alt.gif" style="width: 100%; height: 16px;"><br>
      </td>
      <td style="vertical-align: top; text-align: left; width: 1%;"><img
 alt="" src="#image_dir#news/altsag.gif"
 style="width: 16px; height: 16px;"><br>
      </td>
    </tr>
  </tbody>
</table>
