<table
 class="tablestyle" width="20%" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top; text-align: right;">#user#<br>
      </td>
      <td style="width: 1%; vertical-align: top;">#spacer#<br>
      </td>
      <td style="text-align: center; vertical-align: top;"><span
 style="color: rgb(102, 0, 0); border-bottom:1px dotted #BBB">#edit#</span><br>
      </td>
      <td style="text-align: center; vertical-align: top;"><span
 style="color: rgb(102, 0, 0); border-bottom:1px dotted #BBB">#delete#</span><br>
      </td>
    </tr>
  </tbody>
</table>