<div style="text-align: center;"><span style="color: rgb(0, 0, 0);"><br>
</span>
<form action="?module=admin&amp;a_module=users&amp;action=add_new&amp;effect=check" method="post">
  <table
 class="tablestyle_double"  align="center" border="0" cellpadding="2" cellspacing="2">
    <tbody>
      <tr>
        <td style="vertical-align: top;">#nick#<br>
        </td>
        <td style="vertical-align: top;"><input name="nick" value=""
 type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#theme#<br>
        </td>
        <td style="vertical-align: top;">#list_theme#<br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#mail#<br>
        </td>
        <td style="vertical-align: top;"><input name="mail" value=""
 type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#language#<br>
        </td>
        <td style="vertical-align: top;">#list_languages#<br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#mail_on#<br>
        </td>
        <td style="vertical-align: top;"><input name="mail_on"
 type="checkbox"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#auth#<br>
        </td>
        <td style="vertical-align: top;">#select_auth#<br>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <hr style="border: 1px dotted rgb(187, 187, 187);"></td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#password#<br>
        </td>
        <td style="vertical-align: top;"><input name="password"
 type="password"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#password_again#<br>
        </td>
        <td style="vertical-align: top;"><input name="password_again"
 type="password"><br>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <hr style="border: 1px dotted rgb(187, 187, 187);"></td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#realname#<br>
        </td>
        <td style="vertical-align: top;"><input name="realname" value=""
 type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#icq#<br>
        </td>
        <td style="vertical-align: top;"><input name="icq" value=""
 type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#msn#<br>
        </td>
        <td style="vertical-align: top;"><input name="msn" value=""
 type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#yahoo#<br>
        </td>
        <td style="vertical-align: top;"><input name="yahoo" value=""
 type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#jabber#<br>
        </td>
        <td style="vertical-align: top;"><input name="jabber" value=""
 type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#signature#<br>
        </td>
        <td style="vertical-align: top;"><input name="signature"
 value="" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#avatar#<br>
        </td>
        <td style="vertical-align: top;">#list_avatar#<br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#location#<br>
        </td>
        <td style="vertical-align: top;"><input name="location" value=""
 type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#homepage#<br>
        </td>
        <td style="vertical-align: top;">http://<input name="homepage" value=""
 type="text"><br>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center; vertical-align: top;"><input class="submit_button" 
 value="#submit_text#" type="submit"><br>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<span style="color: rgb(0, 0, 0);"><br>
</span><span style="color: rgb(153, 0, 0); font-weight: bold;"></span></div>