<div style="text-align: center;"><span style="color: rgb(0, 0, 0);"><br>
</span>
<form action="?module=admin&amp;a_module=users&amp;action=edit&amp;effect=checkedit"
 method="post">
  <table
 class="tablestyle_double" align="center" border="0" cellpadding="2" cellspacing="2">
    <tbody>
      <tr>
        <td style="vertical-align: top;">#nick#<br>
        </td>
        <td style="vertical-align: top;"><input name="nick" value="#nickv#" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#theme#<br>
        </td>
        <td style="vertical-align: top;">#list_theme#<br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#mail#<br>
        </td>
        <td style="vertical-align: top;"><input name="mail"
 value="#mailv#" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#language#<br>
        </td>
        <td style="vertical-align: top;">#list_languages#<br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#mail_on#<br>
        </td>
        <td style="vertical-align: top;">#if_mail_on#<br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#auth#<br>
        </td>
        <td style="vertical-align: top;">#select_auth#<br>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <hr style="border: 1px dotted rgb(187, 187, 187);"></td>
      </tr>
      <tr>
        <td colspan="2" style="vertical-align: top;"><font
 style="font-family: courier new,courier,monospace; color: rgb(204, 0, 0);"
 size="-1"><span style="color: rgb(153, 153, 153);">[</span>#password_info#<span
 style="color: rgb(153, 153, 153);">]</span></font><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#password#<br>
        </td>
        <td style="vertical-align: top;"><input name="password"
 type="password"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#password_again#<br>
        </td>
        <td style="vertical-align: top;"><input name="password_again"
 type="password"><br>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <hr style="border: 1px dotted rgb(187, 187, 187);"></td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#realname#<br>
        </td>
        <td style="vertical-align: top;"><input name="realname"
 value="#realnamev#" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#icq#<br>
        </td>
        <td style="vertical-align: top;"><input name="icq"
 value="#icqv#" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#msn#<br>
        </td>
        <td style="vertical-align: top;"><input name="msn"
 value="#msnv#" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#yahoo#<br>
        </td>
        <td style="vertical-align: top;"><input name="yahoo"
 value="#yahoov#" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#jabber#<br>
        </td>
        <td style="vertical-align: top;"><input name="jabber"
 value="#jabberv#" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#signature#<br>
        </td>
        <td style="vertical-align: top;"><input name="signature"
 value="#signaturev#" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#avatar#<br>
        </td>
        <td style="vertical-align: top;">#list_avatar#<br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#location#<br>
        </td>
        <td style="vertical-align: top;"><input name="location"
 value="#locationv#" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#homepage#<br>
        </td>
        <td style="vertical-align: top;">http://<input name="homepage"
 value="#homepagev#" type="text">
 <br>
 <input type="hidden" name="oldpass" value="#oldpass#">
 <input type="hidden" name="oldmail" value="#oldmail#">
 <input type="hidden" name="userid" value="#userid#">
 <input type="hidden" name="oldnick" value="#oldnick#">
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center; vertical-align: top;"><input class="submit_button" 
 value="#submit_text#" type="submit">  <a style="border: 1px dotted" href="?module=admin&amp;a_module=users&amp;action=edit&amp;effect=delete&amp;id=#userid#">#delete_text#</a><br>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<span style="color: rgb(0, 0, 0);"><br>
</span><span style="color: rgb(153, 0, 0); font-weight: bold;"></span></div>