<table
 class="tablestyle" align="center" border="0" width="70%" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top;">#info_for_user#<br>
      </td>
      <td style="text-align: right; vertical-align: top;">#avatar#<br>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="vertical-align: top;">
      <table
 style="width: 100%; text-align: left; font-family: Verdana; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal;"
 align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td
 style="width: 20%; vertical-align: top; color: rgb(102, 102, 102);">#name#</td>
            <td style="vertical-align: top;">&gt;<br>
            </td>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#uname#<br>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#auth#<br>
            </td>
            <td style="vertical-align: top;">&gt;<br>
            </td>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#uauth#<br>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#mail#<br>
            </td>
            <td style="vertical-align: top;">&gt;<br>
            </td>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#umail#<br>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#location#<br>
            </td>
            <td style="vertical-align: top;">&gt;<br>
            </td>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#ulocation#<br>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#homepage#<br>
            </td>
            <td style="vertical-align: top;">&gt;<br>
            </td>
            <td style="vertical-align: top; color: rgb(102, 102, 102);"><a
 href="http://#uhomepage#">#uhomepage#</a><br>
            </td>
          </tr>
	  
	   <tr>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#profile_views#<br>
            </td>
            <td style="vertical-align: top;">&gt;<br>
            </td>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#num_profile_views#<br>
            </td>
          </tr>
	  
	   <tr>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#last_seen#<br>
            </td>
            <td style="vertical-align: top;">&gt;<br>
            </td>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#seen_date#<br>
            </td>
          </tr>
	  
	  <tr>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#usersstatus#<br>
            </td>
            <td style="vertical-align: top;">&gt;<br>
            </td>
            <td style="vertical-align: top; color: rgb(102, 102, 102);">#status#<br>
            </td>
          </tr>
	  
	  
        </tbody>
      </table>
      <br>
      <br>
      <table
 style="border: 1px dotted rgb(221, 221, 221); font-family: Verdana; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; font-size-adjust: none; width: 90%; text-align: left;"
 border="0" cellpadding="2" cellspacing="2">
        <tbody>
          <tr>
            <td style="vertical-align: top;"><span
 style="color: rgb(102, 0, 0);">#icq##icqn#&nbsp;
#msn##msnn#&nbsp; #yahoo##yahoon# #jabber##jabbern#</span><br>
            </td>
          </tr>
	  </tbody>
      </table>
      <span
 style="color: rgb(0, 0, 0); font-family: courier new,courier,monospace;">#signature#</span><br>
      </td>
    </tr>
  </tbody>
</table>