<br>
<br>
<br>
<form action="?module=users&amp;action=lost_pass&amp;effect=check" method="post">
<table align="center"
 style="margin-left: auto; margin-right: auto; width: 60%; text-align: left;"
 border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top;">#username#<br>
      </td>
      <td style="vertical-align: top;"><input type="text" name="getuser"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">#mail#<br>
      </td>
      <td style="vertical-align: top;"><input type="text" name="getmail"><br>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center; vertical-align: top;"><input class="submit_button" type="submit" value="#submit_text#"><br>
      </td>
    </tr>
  </tbody>
</table>
</form>