<div style="text-align: center;">
<form action="?module=users&amp;action=your_account&amp;effect=messages&amp;do=send_it" method="post">
<table align="center"
 class="tablestyle" width="60%" border="0" cellpadding="1" cellspacing="1">
  <tbody>
    <tr>
      <td style="vertical-align: top;"> #sender# : #name#<br>
      </td>
      <td style="text-align: right; vertical-align: top;">#time# :
#sent_time#<br>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="vertical-align: top;">#to_who#
#combo_box_users#<br>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="vertical-align: top;">
      <hr class="hrstyle"></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center; vertical-align: top;">#header#<br>
<input type="text" name="msg_header"><br>
      <br>
#message#<br>
<textarea cols=30 rows=10 name="msg_text"></textarea><br>
<input class="submit_button" type="submit" value="#submit_text#"><br>
      </td>
    </tr>
  </tbody>
</table>
<br>
</form>
</div>