<div style="text-align: center;">[ <font
 style="color: rgb(102, 102, 102);" size="-1"><span
 style="font-family: courier new,courier,monospace;"><a
 href="?module=users&amp;action=your_account&amp;effect=messages&amp;do=send_msg">#send_msg#</a>&nbsp;
<a
 href="?module=users&amp;action=your_account&amp;effect=messages&amp;do=unread_msgs">#unread_msgs#</a>&nbsp;
<a href="?module=users&amp;action=your_account&amp;effect=messages&amp;do=read_msgs">#read_msgs#</a>&nbsp;
<a href="?module=users&amp;action=your_account&amp;effect=messages&amp;do=sent_msgs">#sent_msgs#</a></span></font>
]<br>
<hr class="hrstyle"><br>
<br>
#content#<br>
</div>