<div style="text-align: center;">
<table align="center"
 class="tablestyle" width="60%" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td style="vertical-align: top;"><font size="-1"> #sender# :
#name#</font><br>
      </td>
      <td style="text-align: right; vertical-align: top;"><font
 size="-1">#time# :
#sent_time#</font><br>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="vertical-align: top;">
      <hr class="hrstyle"></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center; vertical-align: top;"><big><em
 style="font-weight: bold;">#header#</em></big><br>
      <br>
      <div style="text-align: left;">#message#<br>
      </div>
      </td>
    </tr>
  </tbody>
</table>
<br>
<a
 href="?module=users&amp;action=your_account&amp;effect=messages&amp;do=delete_it&amp;id=#id#"
 style="border: 1px dotted rgb(0, 0, 0);">#delete_text#</a>
</div>