<div style="text-align: center;"><big><span
 style="font-weight: bold; color: rgb(204, 0, 0);">#login#</span></big><br>
<form action="?module=users&amp;action=login" method="post"><font size="-1">
#user#</font><br>
  <input name="username" size="10" type="text"><br>
  <font size="-1">#password#</font><br>
  <input name="password" size="10" type="password"><br>
  <font size="-1">#remember_me# </font><input name="remember_me"
 type="checkbox"><br>
  <input class="submit_button" value="#submit_text#" type="submit"></form>
<a href="?module=users&amp;action=new_user">#new_user#</a> &nbsp; <a
 href="?module=users&amp;action=lost_pass">#lost_pass#
</a></div>