<div style="text-align: center;"><big style="font-weight: bold;"><span
 style="color: rgb(153, 0, 0);">#header#<br>
</span></big>
<span style="color: rgb(153, 0, 0);">[<span style="color: rgb(0, 0, 0);">#navigation#</span>]<br>
</span>
<br>
<table align="center" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="text-align: center; vertical-align: top;">#content#<br>
      </td>
    </tr>
  </tbody>
</table>
<span style="color: rgb(153, 0, 0);"><br>
</span><big style="font-weight: bold;"><span
 style="color: rgb(153, 0, 0);"></span></big></div>