<form action="?module=users&amp;action=login" method="post"><font size="-1">
#user#<br>
  <input name="username" size=12 type="text"><br>
  #password#<br>
  <input name="password" size=12 type="password"><br>
  <small>#remember_me#</small><input name="remember_me"
 type="checkbox" value="ON"><br>
  <input class="submit_button" value="#submit_text#" type="submit"></font></form>
<font size="-1"><a href="?module=users&amp;action=new_user">#new_user#</a> <br>
<a href="?module=users&amp;action=lost_pass">#lost_pass#</a></font>