<table class="tablestyle_dotted" style="width: 98%;" align="center" border="0">
  <tbody>
    <tr
 style="border: 1px solid rgb(0, 0, 0); vertical-align: top; height: 2px;">
      <td style="width: 25%;"><span style="font-weight: bold;"></span>#tsender#: <b>#sender#</b></td>
      <td style="width: 50%; text-align: center;">&nbsp;#last_update# :<b>#time#</b></td>
      <td style="width: 25%; text-align: right;">#tcounter# : <b>#counter#</b></td>
    </tr>
    <tr>
      <td colspan="3" style="height: 95%; vertical-align: top;">
      <hr class="hrstyle">#mycontent#</td>
    </tr>
  </tbody>
</table>