<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=#charset#;"
 http-equiv="content-type">
<!--meta_command-->
  <title>#title#</title>
  <link href="#style_file#" type="text/css" media="screen"
 rel="stylesheet" rev="stylesheet">
</head>
<body>
<table style="width: 100%; text-align: left;" cellpadding="0"
 cellspacing="0">
  <tbody>
    <tr align="left">
      <td style="background-color: rgb(68, 92, 148); text-align: left;"><img
 src="image/logo.png" alt=""></td>
    </tr>
  </tbody>
</table>
<table style="text-align: left; vertical-align: bottom; width: 100%;"
 border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td
 style="vertical-align: top; background-image: url(#image_dir#altmenu.gif);"><font
 size="-1">&nbsp;#vertical_menu#</font><br>
      </td>
    </tr>
  </tbody>
</table><br>
#left_block# #module# #right_block#
<table style="width: 100%; text-align: left;" border="0" cellpadding="0"
 cellspacing="0">
  <tbody>
    <tr>
      <td style="text-align: center; vertical-align: top;"><em><font
 size="-1">#footer#<br>
      </font></em><font style="color: rgb(102, 102, 102);" size="-2">#creation_time#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
#totalquery#</font><br>
      </td>
    </tr>
  </tbody>
</table>
<table
 style="margin-left: auto; margin-right: auto; width: 10%; text-align: left;"
 align="center" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="text-align: center; vertical-align: top;"><a
 href="http://validator.w3.org/check?uri=referer" target="_blank"><img alt=""
 src="image/valid-html401.png"
 style="border: 0px solid ; width: 88px; height: 31px;"></a> </td>
      <td style="vertical-align: top;"><a
 href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank"><img alt=""
 src="image/valid-css.png"
 style="border: 0px solid ; width: 88px; height: 31px;"></a><br>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
</body>
</html>
