<form action="?module=admin&amp;a_module=setup&amp;action=change" method="post">
<table style="text-align:left" class="tablestyle_double">
<tr><td>#admin_name#</td><td><input type="text" name="owner" value="#gname#"></td></tr>
<tr><td>#site_mail#</td><td><input type="text" name="smail" value="#gmail#"></td></tr>
<tr><td>#title#</td><td><input type="text" name="stitle" value="#gtitle#"></td></tr>
<tr><td>#slogan#</td><td><input type="text" name="sslogan" value="#gslogan#"></td></tr>
<tr><td>#footer#</td><td><textarea rows=5 cols=45 name="sfooter">#gfooter#</textarea></td></tr>
<tr><td>#charset#</td><td><input type="text" name="scharset" value="#gcharset#"></td></tr>
<tr><td>#startdate#</td><td>
<input type="text" size="2" maxlength="2" name="sday" value="#gday#">/
<input type="text" size="2" maxlength="2" name="smonth" value="#gmonth#">/
<input type="text" size="4" maxlength="4" name="syear" value="#gyear#">
</td></tr>
<tr><td>#theme#</td><td>#gtheme#</td></tr>
<tr><td>#lang#</td><td>#list_lang#</td></tr>
<tr><td>#want_activation#</td><td>#want_act#</td></tr>
<tr><td style="text-align:center" colspan="2"><input class="submit_button" type="submit" value="#submit#"></td></tr>
</table>
</form>