<form action="?module=admin&amp;a_module=block&amp;action=own&amp;effect=add_it" method="post">
#name#<br>
<input type="text" name="name"><br>
#header#<br>
<input type="text" name="header"><br>
#blkcontent#<br>
#allowed_tags#<br>
<textarea rows=7 cols=20 name="blkcontent"></textarea><br>
#location# <select name="loc"><br>
<option value="left">#left#
<option value="right">#right#
</select><br><br>
#auth# #list_auth#<br><br>
<input class="submit_button" type="submit" value="#submit_text#"><br>
</form>