<div align="center">
<form action="?module=admin&amp;a_module=block&amp;action=edit&amp;effect=update" method="post">
<input type="hidden" name="bid" value="#bid#">
#file# : #fname# <br>
#header# : <input type="text" name="header" value="#headerx#" size="10"> <br>
#access# : #list_degree# <br>
#location# : 
<select name="loc">
<option value="left" #sel_left_text#> #left#
<option value="right" #sel_right_text#> #right#
</select> 
 <br>
#active# :  <input type="checkbox" name="blact" #check_text#>  <br>
<input class="submit_button" type="submit" value="#submit_text#">
</form>
</div>