<table
 style="border-style: solid; border-color: rgb(187, 187, 187); border-width: 1px 3px 3px 1px; text-align: left; width: 95%;"
 align="center" cellpadding="0" cellspacing="3">
  <tbody>
    <tr>
      <td colspan="1"> <big><big><big><span style="font-weight: bold;">#header#</span></big></big></big><small><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>
      <big><span style="color: rgb(102, 0, 0);">#day# #month# #year# ::
#dayname# ::
#hour#</span></big></small></small><br>
      </td>
      <td style="text-align: right;">#topic_logo#</td>
    </tr>
    <tr>
      <td colspan="2" style="vertical-align: top;">
      <hr class="hrstyle"></td>
    </tr>
    <tr>
      <td colspan="2"><em>#news#</em></td>
    </tr>
    <tr>
      <td colspan="2">
      <hr class="hrstyle"></td>
    </tr>
    <tr
 style="text-align: center; font-family: Verdana,Helvetica; font-size: 9px;">
      <td style="text-align: left;">#sender# : <b>#user#</b></td>
      <td style="text-align: right;">#times_read#</td>
    </tr>
  </tbody>
</table>
<div style="text-align: center;"><br>
<a href="?module=admin&amp;a_module=news&amp;action=news&amp;effect=mark_it&amp;id=#newsid#"><br>
#mark#</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
 href="?module=admin&amp;a_module=news&amp;action=news&amp;effect=delete_it&amp;id=#newsid#">#delete#</a><br>
</div>
<br>