<form action="?module=admin&amp;a_module=news&amp;action=topics&amp;effect=update_topic&amp;id=#tid#" method="post">
<table class="tablestyle_double">
<tr><td>#name#</td><td style="text-align:right"><input size="10" type="text" name="tname" value="#tname#"></td></tr>
<tr><td>#description#</td><td style="text-align:right"><input size="10" type="text" name="tdesc" value="#tdesc#"></td></tr>
<tr><td>#image#</td><td style="text-align:center">#timage#</td></tr>
<tr><td>#list_images#</td><td>#upload_dialog#</td></tr>
<tr><td colspan="2"><input class="submit_button" type="submit" value="#submit_text#"></td></tr>
</table>
</form>