<form action="" method="post">
<table class="tablestyle_dotted" style="width: 40%;" align="center"
 border="0">
  <tbody>
    <tr>
      <td style="text-align: center;">#search#<br>
<input type="text" name="word">&nbsp;&nbsp;<input type="submit" value="#searchit_text#"><br>
      </td>
    </tr>
    <tr align="center">
      <td style="vertical-align: top;">#checkboxes#<br>
      </td>
    </tr>
    <tr>
      
    </tr>
  </tbody>
</table>
</form>
<table width="90%" align="center">
<tr><td>#search_results#</td></tr>
</table>