<div style="text-align: center;"><span style="font-weight: bold;">#admin_header#<br>
<br>
</span>#info_text#<br>
<br>
<form action="?module=site_conf" method="post">
<table class="bee"
 style="margin-left: auto; margin-right: auto; text-align: left;"
 border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top;">#nick#<br>
      </td>
      <td style="vertical-align: top;"><input type="text" name="adminnick"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">#email#<br>
      </td>
      <td style="vertical-align: top;"><input type="text" name="adminmail"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">#pass#<br>
      </td>
      <td style="vertical-align: top;"><input type="password" name="adminpass"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">#passagain#<br>
      </td>
      <td style="vertical-align: top;"><input type="password" name="adminpass2"><br>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center; vertical-align: top;"><input type="submit" value="#submit_text#"><br>
      </td>
    </tr>
  </tbody>
</table>
</form>
<br>
<span style="font-weight: bold;"></span></div>