<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
</head>
<body>
<div style="text-align: center;"><span style="font-weight: bold;">#site_header#</span><br>
<br>
#info_text#<br>
<br>
<form action="?module=last" method="post">
  <table class="bee"
 style="margin-left: auto; margin-right: auto; width: 30%; text-align: left;"
 border="0" cellpadding="2" cellspacing="2">
    <tbody>
      <tr>
        <td style="vertical-align: top;">#title#<br>
        </td>
        <td style="vertical-align: top;"><input name="title"
 value=".: Beedon :." type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#slogan#<br>
        </td>
        <td style="vertical-align: top;"><input name="slogan"
 value="Beedon Slogan" type="text"><br>
        </td>
      </tr>
      <tr align="center">
        <td colspan="2" style="vertical-align: top;"><small>#allowed_tags#</small><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#footer#<br>
        </td>
        <td style="vertical-align: top;"><textarea cols="30" rows="7"
 name="footer">#default_footer#</textarea><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#charset#</td>
        <td style="vertical-align: top;"><input name="charset"
 value="#select_charsets#" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#startdate#<br>
        </td>
        <td style="vertical-align: top;"><input name="startdate"
 value="#date#" type="text"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#default_theme#<br>
        </td>
        <td style="vertical-align: top;">#select_themes#<br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">#default_language#<br>
        </td>
        <td style="vertical-align: top;">#select_languages#<br>
        </td>
      </tr>
      <tr align="center">
        <td colspan="2" style="vertical-align: top;"><input
 value="#submit_text#" type="submit"><br>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<br>
</div>
</body>
</html>
