<table class="tablestyle" align="center" cellpadding="0" cellspacing="3"
 width="95%">
  <tbody>
    <tr>
      <td colspan="1"
 style="font-size: 20px; font-weight: bold; font-family: Georgia,sans-serif; color: rgb(50, 53, 56);">
#header#</td>
      <td style="text-align: right;"><a href="#topic_url#"><img alt=""
 src="#topic_logo#" style="border: 0px solid ;"></a><br>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="font-family: Verdana; font-size: 12px;">#news#</td>
    </tr>
    <tr>
      <td colspan="2">
      <hr class="hrstyle"></td>
    </tr>
    <tr
 style="text-align: center; font-family: Verdana,Helvetica; font-size: 9px;">
      <td style="text-align: left;"><span
 style="color: rgb(102, 102, 102);">#day#.#month_name#.#year# #dayname#
:: #hour# </span></td>
      <td style="text-align: right;">#user_wrote# &nbsp; | &nbsp; <a href="#comment_url#">#comments# #num_comments#</a>&nbsp;  #times_read# <a
 href="?module=news&amp;action=show_id&amp;id=#newsid#"><small>[#]</small></a> #edit_delete#</td>
    </tr>
  </tbody>
</table>