body {
    background:#FFFFFF url('../img/bg.jpg') repeat-x 0 164px;
    height:100%;
    font-family:Verdana,Arial,Geneva,Helvetica,sans-serif;
    font-size:12px;
    line-height:20px;
    position:relative;
}


#forkMe {
    position:absolute;
    top:0;
    left:0;
    width:149px;
    height:149px;
    background:url(../img/forkMe.png);

    white-space:nowrap;
    text-indent:-9999px;
    overflow:hidden;
}


/** Header **/
#headerWrapper {
    background-color:#020703;
}

    #headerWrapper  header {
        background:url('../img/sprite.jpg') no-repeat 0 0;
        position:relative;
        background-position:center 0;
        height:164px;
        padding:0 1px;
    }


        #headerWrapper  header a.logo{
            display:block;

            margin-left:15px;
            width:230px;
            height:130px;

            white-space:nowrap;
            text-indent:-9999px;
            overflow:hidden;
        }

        #headerWrapper header section {
            font-family:"Lobster", Verdana;
            text-align:center;
            text-shadow: 1px 1px #EEE;
            font-size:16px;
            letter-spacing: 0.3em;
            color:#433333;
            line-height:40px;
            width:300px;
            height:40px;
            position:absolute;
            top:10px;
            left:500px;
        }

        #headerWrapper header nav {
            position:absolute;
            top:118px;
            right:40px;
        }


        #headerWrapper header nav a {
            background:url('../img/menuSprite.jpg') no-repeat 0 0;
            white-space:nowrap;
            text-indent:-9999px;
            overflow:hidden;

            display:block;
            float:left;
            height:30px;
            margin-right:50px;
        }

        #headerWrapper header nav a.blog {
            width:70px;
        }

        #headerWrapper header nav a.blog:hover {
            background-position:0 -30px;
        }


        #headerWrapper header nav a.projects {
            width:150px;
            background-position:-78px 0;
        }


        #headerWrapper header nav a.projects:hover {
            background-position:-78px -30px;
        }


        #headerWrapper header nav a.about {
            width:95px;
            background-position:-230px 0;
        }

        #headerWrapper header nav a.about:hover {
            background-position:-230px -30px;
        }


        #headerWrapper header nav a.contact {
            width:130px;
            background-position:-334px 0;
            margin-right:0px;
        }


        #headerWrapper header nav a.contact:hover {
            background-position:-334px -30px;
        }

/** End of Header */

/** Middle Content */
#contentWrapper {
    background:url('../img/sprite.jpg') no-repeat 0 0;
    background-position:center -161px;
}

    #content {
        border-left:1px solid #BBB;
        border-right:1px solid #BBB;
        min-height:515px;
        height:auto !important;
        height:515px;
        background:#FFFFFF;
    }

        #content #leftBlock {
            width:700px;
            float:left;
        }
        
        #content #rightBlock {
            width:250px;
            float:right;
        }

        #content #rightBlock .handmade {
            display:block;
            text-align:center;
        }

/* End of middle content */

/* Footer */
#footerTop {
    background:#000 url('../img/footer.jpg') no-repeat center 0;
    height:119px;
    border-left:1px solid #BBB;
    border-right:1px solid #BBB;
    width:960px;

}

#footerWrapper {
    background:#090b0a;
    color:#FFFFFF;
    padding-bottom:10px;
}

    #footerWrapper footer .footerSide {
        width:320px;
        margin:0 8px;
        color:#BBB;
        text-shadow:0px 0px 4px #777777;
        font-size:12px;
        float:left;
    }


    #footerWrapper footer .footerSide a{
        text-decoration:none;
        font-weight:bold;
        color:#6fa460; /* green */
    }


    #footerWrapper footer .footerSide .debian,
    #footerWrapper footer .footerSide .opera{
        color:#d61d00; /* red */
        text-shadow:1px 1px 10px #d61d00; /* red */
    }

    #footerWrapper footer .footerSide em{
        color:#6fa460; /* green */
        text-shadow:1px 1px 10px #6fa460; /* green */
        font-style:normal;
    }

    #footerWrapper footer .footerSide.aboutAuthor {
        width:600px;
        float:right;
    }

        #footerWrapper footer .footerSide.behindTheSite .validators a {
            white-space:nowrap;
            text-indent:-9999px;
            overflow:hidden;

            display:block;
            width:96px;
            height:29px;
            background:url(../img/validators.jpg) no-repeat;

            float:left;
            margin:10px 10px 0 0;
        }


        #footerWrapper footer .footerSide.behindTheSite .validators a.css3 {
            background-position:-103px 0;


        }



        #footerWrapper footer .footerSide.behindTheSite section a {

        }


        #footerWrapper footer .footerSide h3 {
            text-shadow:3px 3px 10px #000;
            text-align:center;
            border-bottom:1px dotted #FFF;
            margin:10px 0;
        }

        #footerWrapper footer .footerSide.aboutAuthor img{
            padding-left:10px;
            float:right;
        }



/* End of footer */
