<form action="?module=admin&amp;a_module=my&amp;action=add&amp;effect=add_it" method="post">
<table style="text-align:center" class="tablestyle">
<input type="hidden" name="time" value="#gettime#">
<tr><td>#sender# : #nsender#</td><td style="text-align:right">#time# : #gettime# </td></tr>
<tr><td colspan="2">#header#</td></tr>
<tr><td colspan="2"><input type="text" name="header"></td></tr>
<tr><td colspan="2">#ncontent#</td></tr>
<tr><td colspan="2">#html_allowed#</td></tr>
<tr><td colspan="2"><textarea name="mycontent" cols=60 rows=20></textarea></td></tr>
<tr><td colspan="2"><br><input type="submit" value="#submit_text#"></td></tr>
</table>
</form>